<button type="button" style="display:none" class="btn btn-info btn-lg" data-toggle="modal" data-target="#divWarning" id="btnWarning">Open Small Modal</button>
<div id="divWarning" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3c8dbc">
                <button type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title" style="color:white;">Message</h4>
            </div>
            <div class="modal-body">
                <p style="color:yellow;font-size:22px;" class="fa fa-warning"> <span style="color:black;padding-left: 10px;font-size: 20px;" id="msgWarning"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="divAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3c8dbc">
                <button type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Message</h4>
            </div>
            <div class="modal-body">
                <p style="color:yellow;font-size:22px;" class="fa fa-check"> <span style="color:black;padding-left: 10px;font-size: 20px;" id="msgAlert"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="divConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3c8dbc">
                <button type="button" style="color:white;" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Message</h4>
            </div>
            <div class="modal-body">
                @*<p id="msgConfirm"></p>*@
                <p style="color:yellow;font-size:22px;" class="fa fa-exclamation-triangle"> <span style="color:black;padding-left: 10px;font-size: 20px;" id="msgConfirm"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnConfirm">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




